{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}
    <div class="help-page-header">
        <h1>Welcome to BeProductive Help Center</h1>
    </div>

    <div class="help-page-container">
        <section class="idea-section help-page-section">
            <h2 class="help-page-h2">Introducing the Inspiration Behind BeProductive</h2>
            <p>The idea for BeProductive sprang from my own everyday struggle. I used to juggle calendars, notes, and a bunch of other tools to track my progress. But checking past days progress meant sorting through all those scattered notes—quite a task! To ease this and other issues, I created BeProductive. It's a web app that's meant to simplify things for folks like me, making daily progress tracking a breeze.</p>
        </section>

        <section class="benefits-section help-page-section">
            <h2 class="help-page-h2">Unveiling the Perks</h2>
            <h5>Step Back in Time</h5>
            <p>Relive your previous days, recalling what you did and how you spent your time—it's like flipping through a personal time capsule!</p>
            <h5>Supercharge Your Productivity</h5>
            <p>Tackle past issues head-on to supercharge your productivity. It's your secret weapon to becoming a more efficient you!</p>
            <h5>No More Note-taking Hassles</h5>
            <p>Wave goodbye to juggling diaries and notes—streamline your productivity hassle-free!</p>
            <h5>Stay Laser-focused</h5>
            <p>Keep your eyes on today's goals without distractions. Your focus remains sharp as you stride towards your objectives.</p>
            <h5>And More to Explore</h5>
            <p>This is just the beginning—discover a treasure trove of benefits waiting for your exploration!</p>
        </section>

        <section class="how-to-use-section help-page-section">
            <h2 class="help-page-h2">How to Use</h2>
            <h5>Getting Started</h5>
            <p>To begin, head over to the start route. Here, jot down your starting note and list all the tasks you aim to conquer for the day. Once you're set, hit the start button.</p>
            <h5>Tracking Progress</h5>
            <p>Now, at the home page, you'll witness your journey unfold. Mark off completed tasks as time goes by. Feel free to add more tasks right from the home page if needed.</p>
            <h5>Closing Your Day</h5>
            <p>As your tasks wind down or your day comes to a close, wrap it up by penning your ending note. Then, simply click on 'done'.</p>
            <h5>Viewing Your Day</h5>
            <p>After that, hop over to the report page. There, your day's summary awaits, capturing all your accomplishments and notes.</p>
            <h5>Exploring Your History</h5>
            <p>Delve into the history route to revisit all your past days and their details.</p>
            <h5>Need Assistance?</h5>
            <p>Lastly, for any queries or guidance, the Help Page is always there for you.</p>
        </section>

        <section class="notes-section help-page-section">
            <h2 class="help-page-h2">Crafting Your Day's Notes</h2>
            <h5>Starting Note</h5>
            <p>Capture your motivations or anything significant to remember for the day ahead. It's your personal launchpad!</p>
            <h5>Ending Note</h5>
            <p>Reflect on your day's journey—highlight obstacles faced, things to enhance for tomorrow, or any valuable insights gained. It's a space for growth and improvement.</p>
        </section>

        <section class="founder-section help-page-section">
            <h2 class="help-page-h2">Meet the Brain Behind BeProductive</h2>
            <p>At the helm of BeProductive stands Abdullah Nadir, a passionate visionary fueling the drive for efficiency and productivity. With a relentless pursuit for simplifying daily routines, Abdullah leads the charge, sculpting a platform that empowers individuals to seize their day.</p>
            <p>Driven by a zeal for innovation and a desire to revolutionize how we navigate our tasks, Abdullah's brainchild, BeProductive, isn't just a tool—it's a testament to turning aspirations into reality. Through intuitive design and unwavering dedication, Abdullah strives to make productivity an effortless journey for every user.</p>
            <p>As a founder, Abdullah Nadir aims not just to craft a tool, but to foster a community—a support system propelling individuals towards their goals. He envisions BeProductive as more than an app; it's a catalyst for transformation, a companion in the pursuit of personal and professional success.</p>
        </section>
    </div>
{% endblock %}
